<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Osoby</title>
    <style>
        div.error{
            color:red;
        }
        input.error{
            border: solid 1px red;
        }
        td.forms{
            width: 150px
        }
    </style>
</head>
<body>
<table>
    <thead>
    <tr>
        <td>Imię</td>
        <td>Nazwisko</td>
    </tr>
    </thead>
    <tbody>
    <tr th:each="person : ${persons}">
        <td th:text="${person.firstName}">456</td>
        <td th:text="${person.lastName}"></td>
        <td><a href="#" th:href="@{'/modperson/' + ${person.id}}">Zmień</a></td>
        <td><a href="#" th:href="@{'/delperson/' + ${person.id}}">Delete</a></td>
    </tr>
    </tbody>
</table>
<form th:object="${newp}" method="post">
    <table>
        <tr>
            <th>Imię</th><th>Nazwisko</th>
        </tr>
        <tr>
            <td class="forms">
                <input th:class="${#fields.hasErrors('firstName')}?'error':''" type="text" th:field="*{firstName}"/>

            </td>
            <td>
                <input type="text" th:field="*{lastName}"/>
            </td>
        </tr>
        <tr>
            <td>
                <div th:if="${#fields.hasErrors('firstName')}" class="error">
                    <ul>
                        <li th:each="err : ${#fields.errors('firstName')}" th:text="${err}"></li>
                    </ul>
                </div>
            </td>
            <td></td>
        </tr>
    </table>
    <button
            th:with="text=${newp.id}==null ? 'Dodaj osobę' : 'Zmień dane'"
            type="submit" th:text="${text}">Dodaj osobę
    </button>
</form>
</body>
</html>