<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Dziennik</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<!--    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">-->
    <script>
        //$(document).ready(function(){$('#targetcontener').hide()});
        function targetfetch(){
            var s = document.getElementById("kind");
            if(s.value==3 || s.value==4 || s.value==6){
                $('#targetcontener').show();
            }
            else{
                $('#targetcontener').hide();
            }
            console.log(s.value);
        }

        function comma_dot(){
            document.getElementById("quantity1").value = document.getElementById("quantity1").value.replace(',','.')
        }
    </script>
    <style>
        .circle {
            border-radius: 50%;
            height: 100px;
            width: 100px;
            border: 3px solid #73AD21;
            margin: auto;
            text-align: center;
        }
        .all{
            width: 250px;
            margin: auto;
        }
        div.l {
            position:relative;
            height: 17px;
        }
        table.l {
            margin: 0 auto; /* or margin: 0 auto 0 auto */
        }
        input.error {
            border: 2px solid red;
        }
        div.error{
            color:red;
        }
        .forms{
            width: 150px
        }

        .formserror{
            width: 150px;
        }
        .showSS{
            position: absolute;
        }
        .hideSS{
            position: absolute;
            display: none;
        }
    </style>
</head>
<body>
<div class="all">
    <a th:each="eachsilo : ${silos}" style="display:inline-block" href="#" th:href="@{${eachsilo.id}}">
        <div class="circle">
            <div class="l"></div>
            <table class="l">
                <tr><td class="l" th:text="${eachsilo.name}"></td></tr>
                <tr><td class="l" th:text="${eachsilo.stored + 't'}"></td>
                </tr><tr><td th:if="${eachsilo.ware!=null}" class="l" th:text="${eachsilo.ware.name}"></td></tr>
            </table>
        </div>
        <div class="circle" style="display:inline-block" th:remove="all">1110t</div>
        <div class="circle" style="display:inline-block" th:remove="all">0t</div>
        <div class="circle" style="display:inline-block" th:remove="all">0t</div>
    </a>
</div>
<div th:text="${silo.name}"></div>
<form th:object="${siloevent}" method="post">
    <table>
        <tr>
            <th>Data</th><th>Towar</th><th>Ilość</th><th>Czynność</th><th>Dokument</th><th>Opis</th><th>Kto</th>
        </tr>
        <tr th:each="event : ${events}">
            <td th:text="${#temporals.format(event.eventTime, 'yyyy-MM-dd HH:mm')}"></td>
            <td th:text="${event.ware.name}"></td>
            <td th:text="${#numbers.formatDecimal(event.quantity,0,2,'COMMA')}"></td>
            <td th:text="${event.eventKind.name}"></td>
            <td th:text="${event.document}"></td>
            <td th:text="${event.description}"></td>
            <td th:text="${event.person.firstName} + ' ' + ${event.person.lastName}"></td>
        </tr>
        <tr>
            <td><input th:field="${siloevent.eventTime}" type="datetime-local"/></td>
            <td class="forms">
                <select th:class="${#fields.hasErrors('ware')}?'formserror':'forms'" th:field="${siloevent.ware}" th:errorClass="has-error">
                    <option th:each="w : ${wares}" th:value="${w.id}" th:text="${w.name}"></option>
                </select>
            </td>
            <td class="forms">
                <input th:class="${#fields.hasErrors('quantity')}?'error':''" th:field="${siloevent.quantity}" th:errorClass="has-error" id="quantity1"/>
            </td>
            <td class="forms">
                <select id="kind" onchange="targetfetch()" th:field="*{eventKind}" th:class="${#fields.hasErrors('eventKind')}?'formserror':'forms'">
                    <option value="0">---wybierz---</option>
                    <option th:each="e : ${eks}" th:value="${e.id}" th:text="${e.name}"></option>
                </select>
                <div th:class="${#fields.hasErrors('eventKind')}==true?'showSS':'hideSS'" id="targetcontener">
                    <select th:object="${targetsilo}" id="target" name="targetsilo">
                        <option value="0">---wybierz---</option>
                        <option th:each="s : ${silos}" th:value="${s.id}" th:text="${s.name}"></option>
                    </select>
                </div>
            </td>
            <td class="forms">
                <input th:class="${#fields.hasErrors('document')}?'error':''" th:field="${siloevent.document}"/>
            </td>
            <td class="forms">
                <input th:class="${#fields.hasErrors('description')}?'error':''" th:field="${siloevent.description}"/>
            </td>
            <td class="forms">
                <select th:field="*{person}" class="forms">
                    <option value="0">---wybierz---</option>
                    <option th:each="p : ${persons}" th:value="${p.id}" th:text="${p.firstName}+' '+${p.lastName}"></option>
                </select>
            </td>
        </tr>
        <tr>
            <td style="vertical-align:top">
                <button type="submit" onclick="comma_dot()">Zapisz</button>
            </td>
            <td style="vertical-align:top">
                <div th:if="${#fields.hasErrors('ware')}" class="error">
                    <ul>
                        <li th:each="err : ${#fields.errors('ware')}" th:text="${err}"></li>
                    </ul>
                </div>
            </td>
            <td style="vertical-align:top">
                <div class="error" th:if="${#fields.hasErrors('quantity')}">
                    <ul>
                        <li th:each="err : ${#fields.errors('quantity')}" th:text="${err}"></li>
                    </ul>
                </div>
            </td>
            <td style="vertical-align:top">
                <div class="error" th:if="${#fields.hasErrors('eventKind')}">
                    <ul>
                        <li th:each="err : ${#fields.errors('eventKind')}" th:text="${err}"></li>
                    </ul>
                </div>
            </td>
            <td style="vertical-align:top">
                <div class="error" th:if="${#fields.hasErrors('document')}">
                    <ul>
                        <li th:each="err : ${#fields.errors('document')}" th:text="${err}"></li>
                    </ul>
                </div>
            </td>
            <td style="vertical-align:top">
                <div class="error" th:if="${#fields.hasErrors('description')}">
                    <ul>
                        <li th:each="err : ${#fields.errors('description')}" th:text="${err}"></li>
                    </ul>
                </div>
            </td>
            <td style="vertical-align:top">
                <div class="error" th:if="${#fields.hasErrors('person')}">
                    <ul>
                        <li th:each="err : ${#fields.errors('person')}" th:text="${err}"></li>
                    </ul>
                </div>
            </td>
        </tr>
    </table>
</form>
</body>
</html>