<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Silosy - Towary</title>
    <style>
        input.error {
            border: 2px solid red;
        }
        div.error{
            color:red;
        }
    </style>
</head>
<body>
<table>
    <tr>
        <th>Nazwa</th>
    </tr>
    <tr th:each="ware : ${wares}">
        <td th:text="${ware.name}"></td>
        <td><a href="#" th:href="'modware/' + ${ware.id}">Zmień</a></td>
        <td><a href="#" th:href="'delware/' + ${ware.id}">Usuń</a></td>
    </tr>
</table>
<form th:object="${neww}" method="post">
    <label>Nazwa:</label><input th:class="${#fields.hasErrors('name')}?'error':''" type="text" th:field="*{name}" th:errorClass="has-error"/>
    <button th:with="text=${neww.id}==null? 'Dodaj towar' : 'Zmień towar'" th:text="${text}" type="submit">Dodaj towar</button>
    <div th:if="${#fields.hasErrors('name')}" class="error">
        <ul>
            <li th:each="err : ${#fields.errors('name')}" th:text="${err}"></li>
        </ul>
    </div>
</form>
</body>
</html>